<nav>
  <div class="header__superior">
    <div class="usuario">
      <a class="boton-login" th:href="@{/registrar}">Registrarse</a>
    </div>
    <!-- Logotipo -->
    <div class="logo">
      <a class="logo-link" href="/">
        <img class="logo-img" th:src="@{/img/efecLogo.png}" alt="Logotipo" />
      </a>
    </div>
    <div class="usuario">
      <a class="boton-login" th:href="@{/login}">Login</a>
      <a href="#">
        <img class="usuario-img" th:src="@{/img/chica2.png}" alt="usuario" />
      </a>
    </div>
  </div>

  <!-- Usuarios -->
  <div class="container__menu">
    <div class="menu">
      <!-- acá pone una etiqueta nav -->
      <div class="nav-menu">
        <ul class="menu-ul">
          <!-- <li class="menu-li"><a class="menu-link" href="#">Inicio</a></li> -->
          <li class="menu-li">
            <a class="menu-link" href="#">Remitos</a>
            <ul>
              <li class="submenu-link">
                <a class="menu-click" th:href="@{/remito/grnerar}">Generar</a>
              </li>
              <li class="submenu-link">
                <a class="menu-click" th:href="@{/remito/listar}">Consultar</a>
              </li>
            </ul>
          </li>
          <li class="menu-li">
            <a href="#">Datos</a>
            <ul>
              <li class="submenu-link">
                <a class="menu-click" th:href="@{/admin/usuarios}">Usuarios</a>
              </li>
              <li class="submenu-link">
                <a class="menu-click" th:href="@{/efector/listar}">Efectores</a>
              </li>
              <li class="submenu-link">
                <a class="menu-click" th:href="@{/proveedor/listar}"
                  >Proveedores</a
                >
              </li>
              <li class="submenu-link">
                <a class="menu-click" th:href="@{/repartidor/listar}"
                  >Repartidores</a
                >
              </li>
              <li class="submenu-link">
                <a class="menu-click" th:href="@{/producto/listar}"
                  >Productos</a
                >
              </li>
              <li class="submenu-link">
                <a class="menu-click" th:href="@{/tipo/listar}">Tipos</a>
              </li>
              <li class="submenu-link">
                <a class="menu-click" th:href="@{/pais/listar}">Países</a>
              </li>
              <li class="submenu-link">
                <a class="menu-click" th:href="@{/provincia/listar}"
                  >Provincias</a
                >
              </li>
              <li class="submenu-link">
                <a class="menu-click" th:href="@{/departamento/listar}"
                  >Departamentos</a
                >
              </li>
            </ul>
          </li>
          <li class="menu-li">
            <a class="menu-link" href="#">Notificaciones</a>
            <ul>
              <li class="submenu-link">
                <a class="menu-click" th:href="@{/notificaciones/mail}">Por e-mail</a>
              </li>
              <li class="submenu-link">
                <a class="menu-click" th:href="@{/notificaciones/whatsapp}">Por whatsapp</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>