<!DOCTYPE html>
<html xmnls:th="http://www.thymeleaf.org" xmnls:sec="http://www.thymeleaf.org/extras/spring/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../static/style.css">
    <title>APP SALUD</title>
</head>


<body>
    <header>
        <nav class="container_nav">
            <div class="navbar">
                <ul>
                    <li class="dropdown">
                        <a href="#" class="dropbtn">Perfil</a>
                        <div class="dropdown-content">
                            <a href="/logout">Cerrar sesión</a>
                        </div>
                    </li>
                    <li class="nav_li">
                        <a th:href="@{/paciente/registrar}">REGISTRARSE</a>
                    </li>
                    <li class="nav_li">
                        <a href="/ingresar">INGRESAR</a>
                    </li>

<!--                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">PERFIL</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/logout" >Cerrar Sesion</a></li>
                        </ul>
                    </li>-->

                </ul>
            </div>            
        </nav>
    </header>

    <main>

        <section  class="parallax">
            <div class="centrado">
                <h1>Encuentre profesionales online y reserve su turno</h1> 
                <div class="container_form">
                    <form class="query" action="">
                        <label for="esp">Especialidad</label>
                        <select name="especialidades" id="selecEsp">
                            <option value="cardiologia">CARDIOLOGIA</option>
                            <option value="clinica">CLINICA</option>
                            <option value="ginecologia">GINECOLOGIA</option>
                            <option value="pediatria">PEDIATRIA</option>
                        </select>
                        <label for="esp">Obra Social</label>
                        <select name="idOS" class="select-crear">
							<option>Seleccionar Obra Social</option>
							<option 
							th:each="obraSocial : ${obrasSociales}"
							th:value="${obraSocial.id}"
							th:text="${obraSocial.nombreOS}"
							/>
						</select>
                        <input type="button" value="Buscar">
                    </form>
                </div>
            </div>  
        </section>

    </main>

    <footer th:replace= "/fragments/footer :: footer" </footer>

    
</body>
</html>
