<!DOCTYPE html>
<html xmnls:th="http://www.thymeleaf.org" xmnls:sec="http://www.thymeleaf.org/extras/spring/spring-security">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./style.css">
<!--         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> -->
        <title>APP SALUD</title>
    </head>


    <body>
        <header>
            <nav class="container_nav">
                <div class="navbar">
                    <ul>
                        <li class="nav_li">

                            <a href="/registrarse">REGISTRARSE</a>
                        </li>
                        <li class="nav_li">
                            <a href="/ingresar">INGRESAR</a>
                        </li>
<!--
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                PERFIL
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/logout" >Cerrar Sesion</a></li>
                            </ul>
                        </li>
-->
                    </ul>
                </div>            
            </nav>
        </header>

        <main>

            <section  class="parallax">
                <div class="centrado">
                    <h1>Encuentre profesionales online y reserve su turno</h1> 
                    <div class="container_form">
                        <form class="query" action="">
                            <label for="esp">Especialidad</label>
                            <select name="especialidades" id="selecEsp">
                                <option value="cardiologia">CARDIOLOGIA</option>
                                <option value="clinica">CLINICA</option>
                                <option value="ginecologia">GINECOLOGIA</option>
                                <option value="pediatria">PEDIATRIA</option>
                            </select>
                            <label for="esp">Obra Social</label>
                            <select name="obraSocial" id="selecOS">
                                <option value="osep">OSEP</option>
                                <option value="osde">OSDE</option>
                                <option value="osecac">OSECAC</option>
                                <option value="swissMedical">SWISS MEDICAL</option>
                            </select>
                            <input type="button" value="Buscar">
                        </form>
                    </div>
                </div>  
            </section>

        </main>

        <footer th:replace= "/fragments/footer :: footer" >


    </body>
    
</html>
