<!DOCTYPE html>
<html lang="en" xmnls:th="http://www.thymeleaf.org" xmnls:sec="http://www.thymeleaf.org/extras/spring/spring-security">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Profesional</title>
</head>
<body>

    <header>
        <nav class="container_nav">
            <div class="navbar">
                <ul>
                    <li class="nav_li">
                        <a href="/">HOME</a>
                    </li>
                    <li class="nav_li">
                        <a href="/ingresar">INGRESAR</a>
                    </li>
                </ul>
            </div>            
        </nav>
    </header>
    
        <main>    
        <section class="container-vista-paciente">
            
            <div class="parent">
                <h2>Profesional <th scope="row" th:text="${profesional.nombre}${profesional.apellido}"> </th><br>
                    <td th:text="${profesional.email}"></td><br>
                    <td th:text="${profesional.telefono}"></td><br>
                    <td th:text="${profesional.especialidad}"></td><br>
                    <td th:text="${profesional.matricula}"></td><br>
                    <td th:text="${profesional.valorConsulta}"></td><br>
                    <td th:text="${profesional.calificacion}"></td><br>
                    <input type="checkbox" name="roles"
                        th:each="obraSocial : ${obrasSociales}"
                        th:text="${obraSocial.nombreOS}"
                        th:value="${obraSocial.id}"
                    />
                </h2>
                <img width="40px" height="40px" class="foto-usuario" th:if="${session.usuarioActivo != null}" th:src="@{/imagen/perfil/__${session.usuarioActivo.id}__}" alt="Foto Usuario">
            </div>

            <div class="historia_clinica">
                <p>Aqui va descripción</p>

            </div>
       
            <div class="btn-div-paciente">
                <div class="btn1">
                    <button type="submit" class="btn" id="boton">
                      <a th:href= "@{/profesional/modificar/__${profesional.id}__}"> Modificar datos</a>
                    </button>
                </div>
                
                <div class="btn2">
                    <button type="submit" class="btn" id="boton">
                    <a th:href= "@{}"> Agregar detalle </a>
                    </button>
                </div>
    
            </div>   
        </section>
    </main>
    

    <footer>
        <div class="container_footer">
            <div>
                <h6>© 2023 App Salud - Todos los derechos reservados. Términos y condiciones. Políticas de privacidad.</h6>
            </div>
    </footer>
	
</body>
</html>