<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>









	<body>
		<div class="container-fluid m-5 contenedor">
			<form
				class="formulario"
				th:action="@{/paciente/modificar/__${paciente.id}__}"
				method="POST"
			>
				<input hidden th:value="${id}" name="id" />
				<div class="form-group my-3">
					<label class="mb-2">Modificar Paciente:</label>

					<input
						th:value="${paciente.nombre}"
						type="text"
						class="form-control"
						name="nombre"
					/>
					<input
						th:value="${paciente.apellido}"
						type="text"
						class="form-control"
						name="apellido"
					/>
					<input
						th:value="${paciente.email}"
						type="email"
						class="form-control"
						name="email"
					/>
					<input
						th:value="${paciente.telefono}"
						type="number"
						class="form-control"
						name="telefono"
					/>
				</div>
				<!--<div class="form-floating">
					<select
						class="form-select"
						id="idOS"
						name="idOS"
						aria-label="Floating label select example"
					>
						 <option>Seleccione una Obra Social</option>
						<option
							th:each="obraSocial : ${obrasSociales}"
							th:value="${obraSocial.id}"
							th:text="${obraSocial.nombreOS}"
						/>
					</select>
					<label for="idObraSocial">ObraSocial</label>
				</div> -->

				<button type="submit" class="btn btn-primary mt-3 botones">
					Actualizar
				</button>
			</form>

			<div
				th:if="${exito}!=null"
				class="card text-white bg-success mb-3 mt-3 mensajeExito"
			>
				<div class="card-body">
					<h5 class="card-title">Exito 👍</h5>
					<p class="card-text" th:text="${exito}"></p>
				</div>
			</div>
			<div
				th:if="${error}!=null"
				class="card text-white bg-danger mb-3 mensajeError"
			>
				<div class="card-body">
					<h5 class="card-title">Error 👎</h5>
					<p class="card-text" th:text="${error}"></p>
				</div>
			</div>
			<section class="text-center container">
				<div class="row mt-3">
					<div class="divVolver">
						<a th:href="@{/}" class="btn btn-secondary my-2 botonVolver botones"
							>Volver</a
						>
					</div>
				</div>
			</section>
		</div>
	</body>
</html>
