<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>APP SALUD</title>
</head>
<body class="container_fondo">
    <header>
        <nav class="container_nav">
            <div class="navbar">
                <ul>
                    <li class="nav_li">
                        <a href="/">HOME</a>
                    </li>
                    <li class="nav_li">
                        <a href="/ingresar">INGRESAR</a>
                    </li>
                </ul>
            </div>            
        </nav>
    </header>

    <main >

        <div class="container_registro">
            <div class="card">
                <a href="./registro_paciente.html">
                    <img src="../assets/img/paciente.svg" alt=""><br>                
                </a>PACIENTE</div>
            <div class="card">
                <a href="./registro_profesional.html">
                    <img src="../assets/img/profesional.svg" alt=""><br>
                </a>PROFESIONAL</div>

        </div>
        
    </main>

    
</body>
    <footer>
        <div class="container_footer">
            <div>
                <h6>© 2023 App Salud - Todos los derechos reservados. Términos y condiciones. Políticas de privacidad.</h6>
            </div>
    </footer>

    
    </html>