<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../style.css">
    <title>Profesional - crear</title>
</head>
<body  class="container_fondo">

    <header>
        <nav class="container_nav">
            <div class="navbar">
                <ul>
                    <li class="nav_li">
                        <a href="/">HOME</a>
                    </li>
                    <li class="nav_li">
                        <a href="/ingresar">INGRESAR</a>
                    </li>
                </ul>
            </div>            
        </nav>
    </header>
    
	<main>    
		<section class="container-flex-paciente">
			<div class="formulario" >
				<!--             <div th:if="${error != null}" id="mensajeError"  class="card text-white bg-danger mb-3 mensajeError">
								<div class="card-body">
									<h5 class="card-title">ERROR</h5>
									<p class="card-text" th:text="${error}"></p>
								</div>
							</div> -->
				<h2 class="titulo-seccion">CARGUE SUS DATOS</h2>
				<form class="form"
						th:action="@{//profesional/registro}"
						method="POST"
						enctype="multipart/form-data"
						id="formu"
						>
					<div class="label">
						<label class="subtitulo-label">Nombre: </label>
						<input
							type="text"
							class="form-input"
							name="nombre"
							placeholder="Ingresar Nombre"
							th:value="${nombre}"
							/>
					</div>
					<div class="label">
						<label class="subtitulo-label">Apellido: </label>
						<input
							type="text"
							class="form-input"
							name="apellido"
							placeholder="Ingresar apellido"
							th:value="${apellido}"
							/>
					</div>
					<div class="label">
						<label class="subtitulo-label">Email</label>
						<input
							type="text"
							class="form-input"
							name="email"
							placeholder="ingresar Email"
							th:value="${email}"
							/>
					</div>
					<div class="label">
						<label class="subtitulo-label">DNI: </label>
						<input
							type="text"
							class="form-input"
							name="DNI"
							placeholder="Ingresar DNI"
							th:value="${Dni}"
							/>
					</div>
					<div class="label">
						<label class="subtitulo-label">Telefono</label>
						<input
							type="text"
							class="form-input"
							name="telefono"
							placeholder="ingrese telefono"
							th:value="${telefono}"
							/>
					</div>
                                        <div class="label">
						<label class="subtitulo-label">Matricula</label>
						<input
							type="text"
							class="form-input"
							name="matricula"
							placeholder="ingrese matricula"
							th:value="${matricula}"
							/>
					</div>
                                        <div class="label">
						<label class="subtitulo-label">Descripción</label>
						<input
							type="text"
							class="form-input"
							name="descripcion"
							placeholder="ingrese descripción"
							th:value="${descripcion}"
							/>
					</div>
                                        <div class="label">
						<label class="subtitulo-label" >Tipo de consulta</label>
						<select name="idOS" class="select-crear">
							<option>Seleccionar tipo de consulta</option>
							<option value="presencial">Presencial</option>
                                                        <option value="teleconsulta">Teleconsulta</option>
						</select>
					</div>
                                    
                                        <div class="subtitulo-label">
                                                <label class="subtitulo-label">Foto</label>
                                                <input type="file" class="form-input" name="archivo" >
                                        </div>
				
					<div class="btn-div">
						<button type="submit" class="btn" id="boton">
							REGISTRAR
						</button>
					</div>
				</form>
			</div>
		</section>

	</main>

    <footer>
        <div class="container_footer">
            <div>
                <h6>© 2023 App Salud - Todos los derechos reservados. Términos y condiciones. Políticas de privacidad.</h6>
            </div>
    </footer>
	
</body>
</html>